@use "base";

html { font-family: "Nunito", sans-serif; }

body {
    background-color: base.$bg-color;
    margin-left: 0.5em;
}

main {
    max-width: 100%;
    padding-right: 1.5em;
}

nav {
    background-color: base.$nav-color;
    width: 5em;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: none;

    ul {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
    }

    li {
        list-style-type: none;
        height: 80px;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: base.$nav-link-color;
        height: 100%;
        display: block;
        line-height: 80px;
        text-align: center;
        font-weight: bold;

        &:hover {
            color: base.$text-color;
        }
    }

    img {
        width: 100%;
        max-width: 30px;
        height: 95%;
    }

    .nav-svg-item {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);

        &:hover {
            filter: none;
        }
    }

    .material-symbols-outlined {
        font-size: 32px;
        line-height: 75px;
    }
}

@media (width > 500px) {
    nav { display: block !important; }
    body { margin-left: 5.5em !important; }
    main { max-width: 25em; }
}